body {
    text-align: center;
  }
  
  body h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }